<h2><%= article.title %></h2>

<p>
<%= article.content %>
</p>

<a href="/article/<%= article.id %>" class=" btn btn-info delete" style="background-color: red" style="color: black">Delete</a>
<a href="/edit/<%= article.id %>" class=" btn btn-info edit" style="background-color: gold">Edit Article</a>
