<p>The Daily Planet is a fictional broadsheet newspaper appearing in American comic books published by DC Comics, commonly in association with Superman. The newspaper was first mentioned in Action Comics #23 (April 1940).</p>
